* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
h2 {
  background-color: #c7c6c6;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

strong {
  font-size: 28px;
}

#freeshipping {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
}

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

button {
  width: 100%;
  font-size: 20px;
  color: white;
  border-top: black solid 5px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  background-color: black;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
}

body {
}

ul {
  list-style: square;
}

h3 {
  margin-top: 50px;
  text-transform: uppercase;
}

article {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

ul {
  padding-left: 50px;
}

ul li {
  margin-bottom: 20px;
}
