body {
  font-family: sans-serif;
  line-height: 1.4;
}
h2 {
  background-color: #c7c6c6;
  text-transform: uppercase;
  text-align: center;
}

strong {
  font-size: 28px;
}

#freeshipping {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
}

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

button {
  font-size: 30px;
  color: white;
  background-color: black;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
}

body {
  border: 5px solid black;
}

ul {
  list-style: square;
}

h3 {
  text-transform: uppercase;
}
